body {
  background-color: #fafafa;
}

.upvote-container{
  position: relative;
}

.upvote {
  position: absolute;
  top: 40px;
  left: 10%;
}

.citation-input{
  width: 100%;
}

.logo {
  border-radius: 100px;
}

.header{
  margin-top: 10px;
  text-align: center;
}
