<div class="panel panel-default">
  <div class="panel-body">
    <form action="/quotes" method="POST">
      <div class="form-group">
        <label for="value">Citation</label>
        <br>
        <textarea class="citation-input" rows="2" name="value" id="value"></textarea>
      </div>

      <div class="form-group">
        <label for="url" class="hidden control-label">Author</label>
        <input type="text" name="author" id="author" placeholder="Author">
      </div>

      <input type="submit" class="btn btn-primary" value="Create new post">
    </form>
  </div>
</div>


<% @quotes.each do |quote| %>

  <div class="row">
    <div class="col-xs-1 col-md-1 upvote-container">
      <form class="upvote" action="/quotes/<%= quote.id %>" method="post">
            <input id="hidden" type="hidden" name="_method" value="patch">
            <button type="submit" class="btn btn-success btn-xs">
              <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
            </button>
      </form>
    </div>

    <div class="col-xs-11 col-md-11">
      <blockquote>
        <p><%= quote.value %></p>
        <footer><%= quote.author %> <span class="badge"><%= quote.votes %> votes</span>
        </footer>
      </blockquote>
    </div>

  </div>
<% end %>
